.popup-avatar-update__button_disabled {
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  cursor: default;
  pointer-events: none;
}
