.popup__close-button {
  right: -40.7px;
  top: -40.7px;
  position: absolute;
  width: 40.7px;
  height: 40.7px;
  background-image: url("../../../images/close_icon.png");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  transition: all 0.15s linear 0s;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__close-button:focus, .card__like:active {
  outline: none;
}

@media all and (min-width: 300px) and (max-width: 550px) {
  .popup__close-button {
    right: -29px;
    top: -33px;
    max-width: 30px;
    min-height: 30px;
    width: 30px;
    transition: all 0.15s linear 0s;
    background-size: cover;
  }
}
