.header__auth{
  text-align: right;
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  transition: opacity 0.15s linear 0s;
  height: fit-content;
}

.header__auth:hover {
  cursor: pointer;
  opacity: 0.6;
}

/* @media all and (min-width: 300px) and (max-width: 550px) {
  .header__auth {

  }
}

@media all and (min-width: 300px) and (max-width: 767px) {
  .header__auth {

  }
} */
