.profile__avatar {
  max-width: 120px;
  border-radius: 50%;
  transition: opacity 0.15s linear 0s;
  min-height: 120px;
  object-fit: cover;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile__avatar:hover {

  display: block;
  opacity: 0.3;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  }

