.register__form-password {
  width: 100%;
  padding: 0px 0px 13px 0px;
  margin-top: 30px;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  outline: none;
  border: 0;
  border-bottom: 2px solid rgba(204, 204, 204, 1);;
  color: #CCCCCC;
  box-shadow: none;
  background-color: #000;
}

@media all and (min-width: 300px) and (max-width: 550px) {
  .register__form-password {
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 8px;
    margin-top: 20px;
  }
}
