.popup-card-delete__container {
  position: fixed;
  top: calc(50% - 90px);
  left: calc(50% - 215px);
  width: 430px;
  height: 181px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media all and (min-width: 300px) and (max-width: 550px) {
  .popup-card-delete__container {
    left: calc(50% - 109px);
    width: 218px;
  }
}
