.popup-add-card__container {
  position: fixed;
  top: calc(50% - 165px);
  left: calc(50% - 215px);
  width: 430px;
  height: 330px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media all and (min-width: 300px) and (max-width: 550px) {
  .popup-add-card__container {
    width: 240px;
    height: 258px;
    left: calc(50% - 120px);
    top: calc(50% - 129px);
  }
}
