.popup-avatar-update__form-image-link {
  width: 100%;
  padding: 0px 0px 13px 0px;
  margin-top: 30px;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  color: #000;
  box-shadow: none;
}

@media all and (min-width: 300px) and (max-width: 550px) {
  .popup-avatar-update__form-image-link  {
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 8px;
    margin-top: 20px;
  }
}
